.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.input,
.textarea {
  width: 550px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  resize: none;
}

.textarea {
  height: 10rem;
}

.submitButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: pink;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


