@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
h2 {
  text-align: center;
  font-family: Kaushan Script;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Righteous;
}

label {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  font-size: x-large;
}
.Description {
  resize: none;
  width: 50%;
  height: 5rem;
}
.button1 {
  text-decoration: none;
  all: unset;
  background-color: pink;
  color: white;
  border-radius: 6px;
  padding: 8px;
  margin-top: 10px;
}
input{
    width: 300px;
    margin: 20px;
}