@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');.singleBlogContainer{
    display:flex ;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 5px;
}
.title{
font-family: Merriweather;
display: flex;
flex-direction: row;
justify-content: space-between;
color: pink;

}
.button{
cursor: pointer;
color: black;
}

.button:hover{
    transform: scale(1.05);
    color: red;
  }